<ul>
 <% @users.each do |user| %>

 <li>
	<h4><%= user.name  %> | <%=  user.title %> | <%= user.industry.name	%>
	</h4>
	<p><a href="/users/<%= user.id %>">See Profile</a></p>
  </li>

<% end %>

</ul>


