<p id="slogan">Mentor Match connects mentors and mentees within your organization.</p>

<%= image_tag("stick_figures.png", alt: "stick figures", class: "clearfix", id: "figs")%>

<ul class="login-blocks">
  <a href="/users/new"><li>SIGN UP</li></a>
  <a href="/session/new"><li>LOG IN</li></a>
  <!-- <%= link_to "SIGN UP", new_user_url %> -->
<!-- <li><%= link_to "LOG IN", new_session_url %></li> -->
</ul>

