/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
 	margin: 0 auto;
 	font-size: 100%;

 }

.logo {
  padding: 1em 1em;

}

 nav {
    
       li {
          list-style: none;
          display: inline-block;
        a {
           text-decoration: none;
           color: #grey;
     
           a:active {
             color: red;
          }
         }
       }
   }

#change-password {
	 margin-top: 10px;
	 margin-bottom: 10px;
	 background-color: yellow;
	  padding: 0.75em 0.25em;
	  display: inline-block;

	.password-fields {
	  display: none;
	}

}