@import "typography";


.main {
  clear: both;
  font-family: $bod-font;
  width: 60%;
  height: 100%;
  margin-left: 16%;
  margin-right: 16%;
  border-top: 100px;

   span {
   	 font-weight: bold;
   	 font-style: normal;
   }

   span.skill:after {
    content: ',';
   }

	span.skill:last-child:after {
		    content: '';
	}

   article {
   	padding: 8px;
   	border-radius: 8px;
   	border: 2px solid #454545;
   	width: 295px;
   	margin-bottom: 10px;
    
   	 p {
   	 	font-style: italic;
   	 }
   }

  .profile-left {	
	float: left;
  margin-left: 20%;

  }

 .profile-right {
  float: right;	
  width: 50%;
  margin-top: 8px;


 	}
 	
	 #bio {
	 	 height: 140px;

	 }

	 p {
	 	 padding: 0px;
	 	 margin-top: 0px;
		 	 .skill {
	        font-size: 1em;
	   }
	 	}
}

.imageAndName {
  text-align: center;
	h4 {
	 font-size: 1.65em;
 }
	#linkedin-pic {
   border-radius: 100%;
   width: 12.79em;
   height: 12.79em;
   margin-top: 15px;
   margin-bottom: 15px;
 }  	
}

#availability {
	height: 15px;
}

   .editOrContactButton{
	padding: 0.25em 0.25em;
	background-color: pink;
	display: inline-block;
	border-radius: 5px;
	text-align: center;
}




