@import "typography";

.main {
  clear: both;
  font-family: $bod-font;
  max-width: 850px;
  height: 100%;
  margin-left: 16%;
  margin-right: 16%;
  padding-top: 15px;
  border-top: 100px;

   span {
   	 font-weight: bold;
   	 font-style: normal;
   }

   span.skill:after {
    content: ',';
   }

	span.skill:last-child:after {
		    content: '.';
	}

  .profile-left {
    width: 35%;
    float: left;
    margin-left: 10%;
    margin-right: 5%;
     p {
      margin-bottom: 10px;
      a {
        text-decoration: underline;
      }
      a:hover {
        color: #ee145b;
      }
     }

  }

 .profile-right { 
    width: 35%;
    float: right; 
    margin-right: 10%; 
    margin-top: 8px;

  }

  article {
   	padding: 8px;
   	border-radius: 15px;
   	border: 2px solid #454545;
   	width: 300px;
   	margin-bottom: 10px;
    
   	 p {
   	 	font-style: italic;
   	 }
       .skill {
          font-style: italic;
          font-weight: normal;
       }
   }

 #bio {
	 	 height: 120px;

	 }
}

.imageAndName {
   /*margin-right: 300px;*/
/*  text-align: center;*/
	h4 {
	 font-size: 1.65em;
  


 }
	#linkedin-pic {
   border-radius: 100%;
   border: 1px solid black;
   width: 12.79em;
   height: 12.79em;
   margin-top: 15px;
   margin-bottom: 15px;
 }  	
}


#availability {
	height: 15px;
}

.editOrContactButton{
  	padding: 0.5em 1em 0.25em 1em;
    text-align: center;
    font-family: $main-font;
  	background-color:#ee145b;
  	display: inline-block;
  	border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 40px;
      a {
         color: white;
      }
}

.skillsAndInterests{
  height: 80px;
}




