@import "typography";

.main {
  font-family: $bod-font;
  margin-top: 3%;
  width: 90%;
  margin-left: 5%;
  margin-right: 3%;
}

.testimonial {
	clear: both;
	width: 100%;
	height: 400px;
	margin-bottom: 5%;
}

.t-left {	
	font-family: $main-font;
	float: left;
	text-align: center;	
	img {
		max-height: 60%;
		max-width: 60%;
		margin-bottom: 1em;
		border: 1px solid black;
	}
	h1 {
		font-weight: bold;
		margin: 1em 0em;
	}
	h4 {
		font-style: italic;
	}
}

.t-right {
	float: right;	
	width: 60%;
	margin-top: 8px;
	.t {
		font-style: italic;
	}
}
