@import "typography";

/*.main {
  font-family: $bod-font;
  margin-top: 3%;
  width: 100%;
  margin-left: 10%;
}*/

.testimonial {
	font-family: $bod-font;
	width: 90%;
	height: 400px;
	margin-top: 8%;
	margin-bottom: 5%;
}

.t-left {	
	font-family: $main-font;
	float: left;
	text-align: center;	
	img {
		max-height: 60%;
		max-width: 60%;
		border: 1px solid black;
	}
	h1 {
		font-weight: bold;
		margin: 1em 0em;
	}
	h4 {
		font-style: italic;
	}
}

.t-right {
	float: right;	
	width: 58%;
	margin-top: 8px;
	.t {
		font-style: italic;
	}
}
